<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Trend Box</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/scrolling-nav.css')}}" rel="stylesheet">




<style>
    .daum {
      padding: 20px;
      border: 5px dark;
      border-radius: 50px;
      margin: auto;
    }



    #wrap {
      position: absolute;
	    transform: translate(-50%,-50%);
	    top: 50%;
	    left: 50%;
      margin-top: 50px;
      margin-botton: 50px;
      width: 350px;
    }

    #button {
      margin: auto;
    }

  </style>

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Trend Box</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#humor">Humor</a>
          </li>
           <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://seupareutakodingkeulreob-peurojegteu--fishermankio.repl.co//diary">Diary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h2>Welcome to Trend Box</h2>
      <p class="lead"></p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About this page</h2>
          <p class="lead"> Tech Stack: Html, Css, jquery, Ajax, Bootstrap, Python, Flask</p>
          <ul>
            <br>
            <li>News:  입력한 키워드 값과 연령대별 랭킹뉴스</li>
            <br>
            <li>Humor: 오늘의 유머 게시글을 볼 수 있는 공간 </li>
            <br>
            <li>Diary: 하루의 일상을 기록할 수 있는 일기장</li>
          </ul>
        </div>
      </div>
      
  </section>


  <section id="news" class="bg-light">
    <div class="container">
      <div class="row">
  
        <div class="col-lg-8 mx-auto">
           <form action="/result" method="POST">
    <h3>다음 뉴스 키워드 검색창</h3>
    <p><p><p>
    <div></div>
      <div class="form-group">
        <label for="exampleInputEmail1"> 키워드 입력</label>
        <input type="text" class="form-control" name="input1" placeholder="키워드를 입력해주세요.">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">페이지 입력</label>
        <input type="number"" class=" form-control" name="input2" placeholder="페이지수를 입력해주세요.">
      </div>

      <button type="submit" id="button" class="btn btn-primary" >검색</button>
    </form>
    <br><br><br><br>
        <h3> 20대 여성 다음랭킹뉴스 </h3>
        <ul>
          {% for i in range(0, daumone_len) %}
          <a href="{{daumone_href[i]}}">
            <li>{{daumone[i]}}</li>
          </a>
          {% endfor %}
        </ul>
      </div>
  
      <div class="col-lg-8 mx-auto">
        <h3> 20대 남성 다음랭킹뉴스 </h3>
        <ul>
          {% for i in range(0, daumtwo_len) %}
          <a href="{{daumtwo_href[i]}}">
            <li>{{daumtwo[i]}}</li>
          </a>
          {% endfor %}
        </ul>
      </div>
      
       <div class="col-lg-8 mx-auto">
        <h3> 30대 여성 다음랭킹뉴스 </h3>
        <ul>
          {% for i in range(0, daumthree_len) %}
          <a href="{{daumthree_href[i]}}">
            <li>{{daumthree[i]}}</li>
          </a>
          {% endfor %}
        </ul>
      </div>
     
      <div class="col-lg-8 mx-auto">
        <h3> 30대 남성 다음랭킹뉴스 </h3>
        <ul>
          {% for i in range(0, daumfour_len) %}
          <a href="{{daumfour_href[i]}}">
            <li>{{daumfour[i]}}</li>
          </a>
          {% endfor %}
        </ul>
      </div>
      </div>

      </div>    
    </div>
  </section>

  <section id="humor">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <!-- <h2>Contact us</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
        </div> -->
        <div class="daum">
        <h3> 오늘의 유머 베스트 </h3>
        <ul>
          {% for i in range(0, today_len) %}
          <a href="{{today_href[i]}}">
            <li>{{today[i]}}</li>
          </a>
          {% endfor %}
        </ul>
      </div>

      </div>    
    </div>
  </section>

 

  <section id="contact" class="bg-light" >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact us</h2>
          <p class="lead">Thank you for visiting to Trend Box. If you have any questions or need information about Trend Box, Leave a message in the <a href="https://seupareutakodingkeulreob-peurojegteu--fishermankio.repl.co/diary">diary.</a> contact us.</p>
        </div>
     
       </div>
      </div>    
    </div>
  </section>
 

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{{ url_for('static',filename='js/scrolling-nav.js') }}"></script>

</body>

</html>
